<!-- Navbar Component -->
<nav class="navbar">
  <div class="navbar-logo">
    <span><a routerLink="/">Stripe</a></span>
  </div>
  <!-- Links -->
  <ul class="navbar-links">
    <li><a routerLink="/servicios">Servicios</a></li>
    <li><a routerLink="/destacados">Destacados</a></li>
    <li><a routerLink="/testimonios">Testimonios</a></li>
    <li><a routerLink="/contacto">Contacto</a></li>
  </ul>
  <!-- Sign Up & Sign In Buttons -->
  <div class="navbar-actions">
    <a class="btn-login" routerLink="/login">Registrarse</a>
    <a class="btn-registrar" routerLink="/registro">Ingresar</a>
  </div>
</nav>
