<div class="flex flex-col justify-center whitespace-nowrap">
      <div
        class="flex gap-5 justify-between items-center px-12 py-5 w-full bg-indigo-500 max-md:flex-wrap max-md:px-5 max-md:max-w-full"
      >
        <div class="self-stretch my-auto text-3xl font-black text-white">
          Stripe
        </div>
        <div
          class="flex gap-5 self-stretch my-auto text-3xl font-semibold text-white max-md:flex-wrap"
        >
          <div class="grow">Servicios</div>
          <div class="flex-auto">Destacados</div>
          <div class="flex-auto">Testimonios</div>
          <div class="flex-auto">Contacto</div>
        </div>
        <div class="flex gap-5 justify-between self-stretch">
          <div
            class="justify-center px-4 py-2.5 text-xl font-medium leading-7 text-center text-indigo-500 bg-white rounded-xl"
          >
            Registrarse
          </div>
          <div class="my-auto text-2xl font-semibold text-white">Ingresar</div>
        </div>
      </div>
    </div>
