/* Navbar Component Style */
.navbar {
    background-color: #5E5BFF;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    position: sticky;
}

/* Navbar Logo */
.navbar-logo {
    margin-left: 60px;
    font-size: 32px;
    font-style: normal;
    line-height: normal;
    cursor: pointer;
}

.navbar-logo a{
    color: #FFF;
    text-decoration: none;
    font-weight: 900;
}

/* Navbar Links */
.navbar-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 60px;
}

.navbar-links a{
    color: #FFF;
    text-decoration: none;
    margin-left: 30px;
    font-size: 1.3rem;
}

.navbar-links li{
    list-style: none;
}

.navbar-links a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.navbar-actions a {
    text-decoration: none;
    margin-right: 34px;
    font-size: 1.2rem;
    cursor: pointer;
}

/* Sign Up button */
.btn-registrar {
    color: #FFF;
    font-size: 1.2rem;
}

/* Sign In Button */
.btn-login {
    background-color: #FFF;
    color: #5E5BFF;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #c3c2ff;
    color: #FFF;
}