/* Card Component Style */
.card {
  margin-top: 20px;
  padding: 16px;
  width: 800px;
  min-height: 80px;
  background-color: #ffffff;
  border-radius: 16px;
  border: 4px dashed #5E5BFF;
  box-shadow: 7px 10px 22px -3px rgba(155,155,155,0.75);
-webkit-box-shadow: 7px 10px 22px -3px rgba(155,155,155,0.75);
-moz-box-shadow: 7px 10px 22px -3px rgba(155,155,155,0.75);
}

.card-medio {
  margin-left: 32px;
}

img {
  border-radius: 50%;
}

.card p {
  margin-top: 16px;
  font-size: 16px;
  color: #6B6B78;
}

.card-footer {
  display: flex;
  align-items: center;
  font-size: 14px;
  height: 40px;
  justify-content: space-between;
  margin-top: 16px;
}

.card-footer div {
  display: flex;
  align-items: center;
  gap: 16px;
}

