<!-- Card Component -->
<div class="card">
  <span>⭐⭐⭐⭐⭐</span>
  <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum culpa molestias, inventore aliquid repellendus officia velit nemo delectus! Asperiores accusantium sint rem maxime voluptates cumque earum voluptatum inventore officia tempora"</p>
  <div class="card-footer">
    <div>
      <img ngSrc="https://github.com/faverl.png" alt="Avatar de {{ nombre }}" width="40" height="40" >
      <span>Faver Lopez</span>
    </div>
    <span>ABC Enterprise</span>
  </div>
</div>