<header class="header">
  <app-navbar></app-navbar>
  <!-- Header Content -->
  <section class="header__section">
    <div class="header__texts">
      <h1>¡Bienvenido a <span style="font-weight: 900;">Stripe</span>: Tu Socio Digital para el Éxito!</h1>
      <h3>Somos una plataforma integral que ofrece soluciones digitales innovadoras 
        para potenciar tu negocio. Desde el desarrollo web personalizado hasta la 
        automatización de procesos, nuestro objetivo es proporcionarte las herramientas 
        necesarias para alcanzar el éxito en el mundo digital.</h3>
        <div class="header__buttons">
          <a href="#" type="button" class="header__cta">Empezar</a>
          <a href="#" class="header__btn">Saber más <i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
  </section>

  <!-- Wave -->
  <div class="header__svg">
    <svg width="1600" height="266" viewBox="0 0 1600 266" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0L44 7.38889C89 14.7778 178 29.5556 267 73.8889C356 118.222 444 192.111 533 184.722C622 177.333 711 88.6667 800 59.1111C889 29.5556 978 59.1111 1067 88.6667C1156 118.222 1244 147.778 1333 140.389C1422 133 1511 88.6667 1556 66.5L1600 44.3333V266H1556C1511 266 1422 266 1333 266C1244 266 1156 266 1067 266C978 266 889 266 800 266C711 266 622 266 533 266C444 266 356 266 267 266C178 266 89 266 44 266H0V0Z" fill="white"/>
    </svg>
  </div>
</header>

<!-- MAIN -->
<main class="container">
  <!-- Services -->
  <section class="services">
    <div class="services__head">
      <h1>NUESTROS SERVICIOS</h1>
    </div>
    <div class="services__body">
      <!-- Service 1 -->
      <div class="service">
        <div class="service__head">
          <h3 class="service__title">{{ services[0].title }}</h3>
        </div>
        <div class="service__body">
          <p class="service__copy">
            {{ services[0].paragraph }}
          </p>
        </div>
        <div class="service__footer">
          <div class="likes">
            <i class="far fa-thumbs-up"></i> {{ services[0].likes }}
          </div>
          <div class="check">
            <i class="far fa-eye"></i>
          </div>
        </div>
      </div>
      <!-- Service 2 -->
      <div class="service">
        <div class="service__head">
          <h3 class="service__title">{{ services[1].title }}</h3>
        </div>
        <div class="service__body">
          <p class="service__copy">
            {{ services[1].paragraph }}
          </p>
        </div>
        <div class="service__footer">
          <div class="likes">
            <i class="far fa-thumbs-up"></i> {{ services[1].likes }}
          </div>
          <div class="check">
            <i class="far fa-eye"></i>
          </div>
        </div>
      </div>
      <!-- Service 3 -->
      <div class="service">
        <div class="service__head">
          <h3 class="service__title">{{ services[2].title }}</h3>
        </div>
        <div class="service__body">
          <p class="service__copy">
            {{ services[2].paragraph }}
          </p>
        </div>
        <div class="service__footer">
          <div class="likes">
            <i class="far fa-thumbs-up"></i> {{ services[2].likes }}
          </div>
          <div class="check">
            <i class="far fa-eye"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Featured Services -->
  <section class="services f-services">
    <div class="services__head">
      <h1>SERVICIOS DESTACADOS</h1>
    </div>
    <div class="services__body">
      <!-- Service 1 -->
      <div class="service">
        <div class="service__head">
          <h3 class="service__title">{{ services[0].title }}</h3>
        </div>
        <div class="service__body">
          <p class="service__copy">
            {{ services[0].paragraph }}
          </p>
        </div>
        <div class="service__footer">
          <div class="likes">
            <i class="far fa-thumbs-up"></i> {{ services[0].likes }}
          </div>
          <div class="check">
            <i class="far fa-eye"></i>
          </div>
        </div>
      </div>
      <!-- Service 2 -->
      <div class="service">
        <div class="service__head">
          <h3 class="service__title">{{ services[1].title }}</h3>
        </div>
        <div class="service__body">
          <p class="service__copy">
            {{ services[1].paragraph }}
          </p>
        </div>
        <div class="service__footer">
          <div class="likes">
            <i class="far fa-thumbs-up"></i> {{ services[1].likes }}
          </div>
          <div class="check">
            <i class="far fa-eye"></i>
          </div>
        </div>
      </div>
      <!-- Service 3 -->
      <div class="service">
        <div class="service__head">
          <h3 class="service__title">{{ services[2].title }}</h3>
        </div>
        <div class="service__body">
          <p class="service__copy">
            {{ services[2].paragraph }}
          </p>
        </div>
        <div class="service__footer">
          <div class="likes">
            <i class="far fa-thumbs-up"></i> {{ services[2].likes }}
          </div>
          <div class="check">
            <i class="far fa-eye"></i>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>

<!-- Testimonies -->
<app-testimonio></app-testimonio>


