/* Testimonies Component Style */
.section-testimonio {
  display: flex;
}

.section-left {
  display: flex;
  align-items: center;
  width: 40vw;
  height: 88vh;
}

.section-right {
  row-gap: 20px;
}

.rectangulo {
  background-color: #5E5BFF;
  color: #fff;
  width: 572px;
  height: 400px;
  border-radius: 0px 25px 25px 0px;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 64px;
  box-shadow: 7px 10px 22px -3px rgba(155,155,155,0.75);
-webkit-box-shadow: 7px 10px 22px -3px rgba(155,155,155,0.75);
-moz-box-shadow: 7px 10px 22px -3px rgba(155,155,155,0.75);
}

